.top-nav-auth__container a,
.top-nav-main__container a {
  text-decoration: none;
  color: white;
}

.top-nav-main__container,
.top-nav-auth__container {
  position: absolute;
  z-index: 1501;
  width: -webkit-fill-available;
}

